[submodule "code/act"]
	path = code/act
	url = git@github.com:tonyzhaozh/act.git
[submodule "book/embodied-ai-guide"]
	path = book/embodied-ai-guide
	url = git@github.com:EmbodiedDataHub/Embodied-AI-Guide.git
[submodule "code/diffusion_policy"]
	path = code/diffusion_policy
	url = git@github.com:EmbodiedDataHub/diffusion_policy.git
[submodule "book/Awesome-VLA"]
	path = book/Awesome-VLA
	url = git@github.com:EmbodiedDataHub/Awesome-VLA.git
[submodule "code/openvla"]
	path = code/openvla
	url = git@github.com:EmbodiedDataHub/openvla.git
[submodule "code/octo"]
	path = code/octo
	url = git@github.com:EmbodiedDataHub/octo.git
[submodule "code/openpi"]
	path = code/openpi
	url = git@github.com:EmbodiedDataHub/openpi.git
[submodule "code/RoboticsDiffusionTransformer"]
	path = code/RoboticsDiffusionTransformer
	url = git@github.com:EmbodiedDataHub/RoboticsDiffusionTransformer.git
